button {
    margin: .25rem;
}

button:active {
    background-color: rgb(213, 171, 116);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.neutral{
    background-color: rgb(213, 171, 116);
} 

.liked{
    background-color: blue;
}

.disliked{
    background-color: red;
}